body {
  text-align: center;
  font-family: "Tetris";
}

@font-face {
  font-family: 'Tetris';
  src: url('./FontsFree-Net-Tetris.ttf');
}

h1 {
  font-family: 'Tetris';
}

.container {
  display: flex;
}

.grid {
  width : 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine
}

.grid div {
  height: 20px;
  width: 20px;
}

.shape {
  background-color: blueviolet;
}

#start-btn {
  font-family: "Tetris";
  background-color: ;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
}

.mini-grid div {
  height: 20px;
  width: 20px;

}